<p>@Model.Name of @Model.HomePlanet has @Model.NumberOfEyes eyes.</p>

<p>
  <a href="@Url.Action("Edit", new { id = Model.Id })">Edit</a> -
  <a href="@Url.Action("Delete", new { id = Model.Id })">Delete</a> -
  <a href="@Url.Action("Index")">Back to list</a>
</p>